.po-search-card{
    width: 75%;
    margin:auto;
}
#Expo{
    margin-left: 1%;
    color: #235697;
    font-size: 19px;
    font-weight: 400;
}
#OTP{
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(0,0,0,.14);
    padding: 10px 13px;
    border-radius: 2px;
    transition: border-color .2s;
}
.MuiPaper-elevation2 {
    width: 100%;
}
  
#Priority{
    display: none;
}
.search-input-col{
    max-width: 50% !important;
    margin: auto;
}
.POSearchInput{
    border:2px solid #ced4da !important;
    border-radius: 10px !important;
}
#ShortF{
    font-weight: bold;
    padding: 1%;
}
#legend{
    text-align: right;
}
.form-container{
    padding: 20px;
    width: 100%;
    height: fit-content;
}
.form-header-container{
    margin:auto;
}
.form-header-container svg {
    font-size: 1.5rem !important;
    color:#235697;
}
.form-header{
    margin-bottom: 20px;
    text-align: left;
    color: #235697;
}

.form-container form{
    width: 100%;
}

.po-input{
    /* border: 0px !important; */
    border-bottom: 2px solid #235697 !important;
    border-radius: 0px !important;
    background: #b0b0b338 !important;
}
textarea{
    border-bottom: 2px solid #235697 !important;
    border-radius: 0px !important;
    background: #b0b0b338 !important;
}
.card{
    padding:12px;   
    -webkit-box-shadow: 10px 10px 60px 1px rgba(145,143,145,1);
    -moz-box-shadow: 10px 10px 60px 1px rgba(145,143,145,1);
    box-shadow: 10px 10px 60px 1px rgba(145,143,145,1);
    border-radius: 8px;
}
.po-details{
    font-weight: bold;
    color:#235697;
}
.request-details-container{
    margin-top:20px;
}
.errorMsg{
    font-style: italic;
    font-size: 12px;
    color: red;
}
.col-form-label{
    font-weight: 500;
}
.th-main {
    background-color:  #eeeeee;
    color: black;
   
}

.th-sub{
    background-color: #eeeeee;
    color: black;
}

.btn-cancel{
    color: #fff;
    background-color: #235697 !important;
    border-color: #235697 !important;
}

.table-anchor{
    color:#235697 !important;
}

.react-grid-HeaderCell{
    background: #235697 !important;
    color: white !important;
}

thead[data-test="table-foot"]{
    display: none;
}

.react-grid-Container{
    width: 99% !important;
    /* text-align: center; */
}
.DashboardName{
    color: #235697;
    font-size: 3.25rem;
    text-align: center;
    margin-top: 17%;
    margin-left: -10%;
}
.PMTotalItems{
    font-size: 8.25rem;
    color: #235697;
}
.statusheading{
    text-align: center;
}
.PMItems{
    text-align: center;
    font-size: 2.25rem;
}
#DashTabs:hover{
    background-color: #235697;
    color: white;
    cursor: pointer;
}
#TotalRequest{
    font-size: 1.25rem;
    color: white;
    border: 5px solid cadetblue;
    background: #235697;
    text-align: center;
    cursor: pointer;
}
.TotalRequest:hover{
    border: 5px solid white;

}
#TR{
    TEXT-ALIGN: CENTER;
    FONT-SIZE: 3.25REM;
}
#pagination{
    text-align: center;
}
#ApprovalButtons{
    text-align: right;
}
#RWContents{
    display: contents;
}
#ALog{
    display: inline;
}
#RWButton{
    margin-left: 1%;
}
#AppButton{
    margin-right: 1%;
    width: 170PX;
}
#AppButton0{
    margin-right: 1%;  
}
